
body {
    background-color: moccasin;
}

h1, h2, h3 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
}

p, ul, ol {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
